name: run_routes

on:
  workflow_dispatch:
  schedule:
    # 5:59 AM CST (11:59 UTC)
    - cron: '59 11 * * 1-5'
    # 6:30 AM CST (12:30 PM UTC)
    - cron: '30 12 * * 1-5'
    # 7:00 AM CST (1:00 PM UTC)
    - cron: '0 13 * * 1-5'
    # 7:30 AM CST (1:30 PM UTC)
    - cron: '30 13 * * 1-5'
    # 8:00 AM CST (2:00 PM UTC)
    - cron: '0 14 * * 1-5'
    # 8:30 AM CST (2:30 PM UTC)
    - cron: '30 14 * * 1-5'
    # 9:00 AM CST (3:00 PM UTC)
    - cron: '0 15 * * *'
    # 3:30 PM CST (9:30 PM UTC)
    - cron: '30 21 * * 1-5'
    # 4:00 PM CST (10:00 PM UTC)
    - cron: '0 22 * * 1-5'
    # 4:30 PM CST (10:30 PM UTC)
    - cron: '30 22 * * 1-5'
    # 5:00 PM CST (11:00 PM UTC)
    - cron: '0 23 * * *'
    # 5:30 PM CST (11:30 PM UTC)
    - cron: '30 23 * * 1-5'
    # 6:00 PM CST (12:00 AM UTC next day)
    - cron: '0 0 * * 1-5'
    # 7:00 PM CST (1:00 AM UTC next day)
    - cron: '0 1 * * *'


jobs:
  update_routes:
    runs-on: macOS-latest
    env:
      ROUTES_API_KEY: ${{ secrets.ROUTES_API_KEY }}
    steps:
      - uses: actions/checkout@v4
      - uses: r-lib/actions/setup-r@v2
        with:
          # don't reinstall R
          install-r: true
          # use RStudio's CRAN mirror with precompiled binaries
          use-public-rspm: true
      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2
      - name: Install required packages
        run: Rscript -e 'install.packages(c("pins", "tidyverse", "httr2", "reactable", "gt", "sf", "tmap", "googlePolylines", "ggiraph"), dependencies = TRUE)'
      - name: Run R script to update routes
        run: Rscript obtain_routes.R
      - name: Commit data
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Update data
      - name: Render and Publish
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
